*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(100deg, #575656, #062e3f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}header{
    padding: 110px 0px 50px 0px;
}
h1{
    margin: 13px ;
    font-size: 100px;
    font-family:'Work Sans', sans-serif;
    color: #e2e0efe6;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}input{
    padding: 12px;
   border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: rgba(10, 10, 10, 0.824);
    max-width: 500px;
    width: 100%;
}button{
    padding: 12px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: none;
    outline: none;
    min-width: 100px;
}#date{
    margin: 28px;
    font-size: 20px;

}button:hover{
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.533) 0 0 10px
}ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px ;
    cursor: pointer;
    position: relative;
    margin: 0px 0px 10px;
    
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    
}ul li::before{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left:8px;
}ul li.checked{
    color: #acbfc8;
    text-decoration: line-through;

}ul li.checked::before{
    background-image: url(checked.png);
}ul li span{
    position: absolute;
    right:0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #cdcdcd;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}ul li span:hover{
    background: #e14a17e1;
    
}#list-container{
    width: 300px;
    border-radius: 29px;
}